<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<h1>Add unit</h1>
<form action="#" th:action="@{/addunit}" th:object="${unit}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>

    <p><input type="submit" value="Submit" class="btn btn-default" /> <input type="reset" value="Reset" class="btn btn-default" /></p>
</form>
</body>
</html>