<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <p th:replace="template ::head"></p>
</head>
<body>
<div th:replace="template :: header"></div>
<div class="container">
    <h1>Recipe</h1>

    <form action="#" th:action="@{/recipes/changedPortion}" th:object="${recipe}" method="post">
        <label for="portionSelect">Choose portions: </label><br/>
        <select class="form-control" name="portionselect" th:field="*{portion}" id="portionSelect">
        <option th:each="portionV : ${portionValues}"
                th:value="${portionV}"
                th:text="${portionV}"></option>
    </select>
        <input type="submit" value="Update" class="btn btn-outline-primary"/>


    <table class="table table-striped">
        <thead>
            <th>Title</th>
            <th>Directions</th>
            <th>Picture</th>
            <th>Ingredients</th>
        </thead>
        <tbody>
        <tr>
            <td><span th:utext="${recipe.title}"></span></td>
            <td><span th:utext="${recipe.directions}"></span></td>
            <td><img th:src="${recipe.imgUrl}"/></td>
            <td>
                <ul th:each="ingredient : ${recipe.ingredients}">
                    <li><span th:utext="${ingredient.name}"></span>
                    <br/><span class="quant" th:utext="${ingredient.quantity}"></span>
                        <span th:utext="${ingredient.unit.name}"></span>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    </form>
</div>
</body>
</html>